PORT=3000
MONGODB_URL=mongodb+srv://bogdanpaslawskii:KaloRem23@main-cluster.bclgu.mongodb.net/contacts?retryWrites=true&w=majority

ACCESS_TOKEN_SECRET=supersecretaccesstokenkey123
REFRESH_TOKEN_SECRET=supersecretrefreshtokenkey456
JWT_SECRET=VOQjLdrpG1TWCHhDzv3o

APP_DOMAIN=https://nodejs-hw-mongodb-swagger-8jd1.onrender.com

SMTP_HOST=smtp-relay.brevo.com
SMTP_PORT=465
SMTP_USER=82f0dd007@smtp-brevo.com
SMTP_PASSWORD=QY4wMPSxsaCO6LfR
SMTP_FROM=bogdan.paslawskii@gmail.com

CLOUDINARY_CLOUD_NAME=dihpekuis
CLOUDINARY_API_KEY=485763852328482
CLOUDINARY_API_SECRET=D5i4WXZoJL8RsFZqDeeopyvejGc