# Main
PORT=3000
MONGODB_URL=mongodb+srv://bogdanpaslawskii:KaloRem23@main-cluster.bclgu.mongodb.net/contacts
ACCESS_TOKEN_SECRET=123123123
REFRESH_TOKEN_SECRET=123123123

# SMTP для Brevo
SMTP_HOST=smtp-relay.brevo.com
SMTP_PORT=587
SMTP_USER=82f0dd001@smtp-brevo.com
SMTP_PASSWORD=2qDN7RLhK9znVWAG
SMTP_FROM=bogdan.paslawskii@gmail.com

# JWT для токена
JWT_SECRET=VOQjLdrpG1TWCHhDzv3o

# Домен фронтенду
APP_DOMAIN=http://localhost:3000

# Cloudinary
CLOUDINARY_CLOUD_NAME=contacts-app
CLOUDINARY_API_KEY=485763852328482
CLOUDINARY_API_SECRET=D5i4WXZoJL8RsFZqDeeopyvejGc
