PORT=3000
MONGODB_USER=<yourMongoDBUsername>
MONGODB_PASSWORD=<yourMongoDBPassword>
MONGODB_URL=<yourMongoDBClusterURL>
MONGODB_DB=<yourDatabaseName>

# MONGO_URI=mongodb+srv://${MONGODB_USER}:${MONGODB_PASSWORD}@${MONGODB_URL}/${MONGODB_DB}?retryWrites=true&w=majority
